
            @font-face {
                font-family: 'Arkbro';
                src: url("../font/Arkbro.woff2") format('woff2');
            }
            *{
			    font-family: 'Cabin-VariableFont';
			    line-height:1;
			    font-size: 500px;
			    font-variation-settings:"wdth" 500
			}