 @font-face {
                font-family: 'font/pearlVF';
                src: url("../font/pearlVF.woff2") format('woff2');
            }
            *{
			    font-family: 'font/pearlVF';
			    font-size: 500px;
                color: ghostwhite;
/*                background: black;*/
                }
.element{
        line-height: 2.2;
            
                }
                
                body{
                background: black;
    position: absolute;
    overflow: visible;      
                }



			}
			.wrapper{
				white-space: nowrap; 
			}
.cursor{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    z-index: 10000;
    mix-blend-mode: difference;
			}
